<a href="https://colab.research.google.com/github/CristianoDataScience/analise_de_vendas/blob/main/base_estrutura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importando Bibliotecas

In [1]:
import pandas as pd
import os

In [2]:
diretorio = '/content/drive/MyDrive/Trabalho_IGI_Base_Dados/BASE_TP'

In [3]:
list_df = [] #Gerando lista
list_path = os.listdir(diretorio) #Verificando diretorio path

In [4]:
list_path[:5] #Analisando os primeiros arquivos csv

['2020-09-11.csv',
 '2020-02-18.csv',
 '2020-05-11.csv',
 '2020-12-21.csv',
 '2020-09-05.csv']

In [9]:
list_df = []
for arquivo in list_path:
  local_arquivo = os.path.join(diretorio, arquivo)
  df = pd.read_csv(local_arquivo, sep='|', encoding='latin-1')
  list_df.append(df)
df_vendas = pd.concat(list_df)

In [11]:
df_vendas[:10]

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141728,2020-09-11,Feminino,1990-08-16,gato,moderado,Café,Praticar esporte
1,10142960,2020-09-11,Masculino,1962-09-04,cachorro,frio,refrigerante,Assistir TV
2,10143039,2020-09-11,Masculino,1988-09-21,peixe,frio,Café,Escutar música
0,10143398,2020-02-18,Masculino,1995-05-12,cachorro,frio,Água,Pintar quadros
0,10142561,2020-05-11,Masculino,1992-01-12,peixe,quente,Chá,Pintar quadros
1,10142954,2020-05-11,Masculino,1999-05-17,gato,frio,Chá,Praticar esporte
2,10143177,2020-05-11,Masculino,1972-11-18,cachorro,moderado,Chá,Pintar quadros
3,10143525,2020-05-11,Feminino,1969-03-19,tartaruga,frio,Café,Aprender algo novo
0,10142020,2020-12-21,Feminino,1973-08-02,gato,quente,refrigerante,Dormir
1,10142211,2020-12-21,Masculino,1995-12-16,peixe,frio,Água,Assistir TV

## Exportando dados para arquivos

In [13]:
df_vendas.to_csv('vendas_por_data.csv', sep='|', encoding='latin-1', index=False)